################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/config.json
/package.json
/package-lock.json
/.gitignore
/node_modules
.vs